---
import Master from "layouts/master.astro";
---

<Master doc={{ meta: { title: "Page Not Found" } }}>
  <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
    <div class="mx-auto max-w-screen-sm space-y-4 text-center">
      <h1
        class="text-7xl font-extrabold tracking-tight text-primary lg:text-9xl"
      >
        404
      </h1>

      <p class="text-3xl font-bold tracking-tight text-primary md:text-4xl">
        Page Not Found
      </p>

      <p class="text-lg font-light text-muted-foreground">
        Sorry, we can't find that page. You'll find lots to explore on the
        homepage.
      </p>

      <a class="uk-btn uk-btn-primary" href="/">Back to Homepage</a>
    </div>
  </div>
</Master>
