---
import Main from "layouts/main.astro";
import Examples from "layouts/partials/examples.astro";
---

<Main
  doc={{
    title: "Franken UI: Dos",
    meta: {
      description:
        "Franken UI is an HTML-first, open-source library of UI components that works as a standalone or as a Tailwind CSS plugin.",
    },
  }}
>
  <Examples active="mail" />
</Main>
